In [165]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [166]:
df = pd.read_csv("auto.csv", sep = ",")

In [167]:
df.head(10)

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
5,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
6,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
7,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
8,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?
9,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430

In [168]:
col_names = [ "symboling" , "normalized-losses" , "make" , "fuel-type" , "aspiration" , 
"num-of-doors","body-style", "drive-wheels" , "emplacement du moteur" , 
"empattement" , "longueur" , "largeur" , "hauteur" , "poids Ã  vide" , "type de moteur" , 
"nombre de cylindres" , "taille du moteur" , "systÃ¨me de carburant" , "alÃ©sage" , 
"course","taux de compression","puissance", "crÃ¨me-rpm" , "ville-mpg" , "autoroutempg" , "prix" ]

In [169]:
df.columns = col_names

In [170]:
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,emplacement du moteur,empattement,...,taille du moteur,systÃ¨me de carburant,alÃ©sage,course,taux de compression,puissance,crÃ¨me-rpm,ville-mpg,autoroutempg,prix
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
5,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
6,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
7,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
8,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?
9,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430

In [171]:
df.tail()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,emplacement du moteur,empattement,...,taille du moteur,systÃ¨me de carburant,alÃ©sage,course,taux de compression,puissance,crÃ¨me-rpm,ville-mpg,autoroutempg,prix
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   symboling              204 non-null    int64
 1   normalized-losses      204 non-null    object
 2   make                   204 non-null    object
 3   fuel-type              204 non-null    object
 4   aspiration             204 non-null    object
 5   num-of-doors           204 non-null    object
 6   body-style             204 non-null    object
 7   drive-wheels           204 non-null    object
 8   emplacement du moteur  204 non-null    object
 9   empattement            204 non-null    float64
 10  longueur               204 non-null    float64
 11  largeur                204 non-null    float64
 12  hauteur                204 non-null    float64
 13  poids Ã  vide           204 non-null    int64
 14  type de moteur         204 non-null    object
 15  nombre de cylindres    204 non-null    object
 16  taille du moteur       204 non-null    int64
 17  systÃ¨me de carburant   204 non-null    object
 18  alÃ©sage                204 non-null    object
 19  course                 204 non-null    object
 20  taux de compression    204 non-null    float64
 21  puissance              204 non-null    object
 22  crÃ¨me-rpm              204 non-null    object
 23  ville-mpg              204 non-null    int64
 24  autoroutempg          204 non-null    int64
 25  prix                   204 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.6+ KB

In [173]:
df.shape

(204, 26)

In [174]:
df.dtypes

symboling                  int64
normalized-losses         object
make                      object
fuel-type                 object
aspiration                object
num-of-doors              object
body-style                object
drive-wheels              object
emplacement du moteur     object
empattement              float64
longueur                 float64
largeur                  float64
hauteur                  float64
poids Ã  vide               int64
type de moteur            object
nombre de cylindres       object
taille du moteur           int64
systÃ¨me de carburant      object
alÃ©sage                   object
course                    object
taux de compression      float64
puissance                 object
crÃ¨me-rpm                 object
ville-mpg                  int64
autoroutempg              int64
prix                      object
dtype: object

In [175]:
df.describe()

,symboling,empattement,longueur,largeur,hauteur,poids Ã vide,taille du moteur,taux de compression,ville-mpg,autoroutempg
count,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000
mean,0.823529,98.806373,174.075000,65.916667,53.749020,2555.602941,126.892157,10.148137,25.240196,30.769608
std,1.239035,5.994144,12.362123,2.146716,2.424901,521.960820,41.744569,3.981000,6.551513,6.898337
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.075000,52.000000,2145.000000,97.000000,8.575000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,119.500000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.200000,66.900000,55.500000,2939.250000,142.000000,9.400000,30.000000,34.500000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [176]:
df.describe(include='object')

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,emplacement du moteur,type de moteur,nombre de cylindres,systÃ¨me de carburant,alÃ©sage,course,puissance,crÃ¨me-rpm,prix
count,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204
unique,52,22,2,2,3,5,3,2,7,7,8,39,37,60,24,186
top,?,toyota,gas,std,four,sedan,fwd,front,ohc,four,mpfi,3.62,3.40,68,5500,?
freq,40,32,184,167,114,96,120,201,148,158,93,23,20,19,37,4

In [177]:
df.isna().sum()

symboling                0
normalized-losses        0
make                     0
fuel-type                0
aspiration               0
num-of-doors             0
body-style               0
drive-wheels             0
emplacement du moteur    0
empattement              0
longueur                 0
largeur                  0
hauteur                  0
poids Ã  vide             0
type de moteur           0
nombre de cylindres      0
taille du moteur         0
systÃ¨me de carburant     0
alÃ©sage                  0
course                   0
taux de compression      0
puissance                0
crÃ¨me-rpm                0
ville-mpg                0
autoroutempg            0
prix                     0
dtype: int64

In [178]:
df.replace("?", np.NaN, inplace = True)

In [179]:
df.duplicated().sum()

0

In [180]:
df.isna().sum()

symboling                 0
normalized-losses        40
make                      0
fuel-type                 0
aspiration                0
num-of-doors              2
body-style                0
drive-wheels              0
emplacement du moteur     0
empattement               0
longueur                  0
largeur                   0
hauteur                   0
poids Ã  vide              0
type de moteur            0
nombre de cylindres       0
taille du moteur          0
systÃ¨me de carburant      0
alÃ©sage                   4
course                    4
taux de compression       0
puissance                 2
crÃ¨me-rpm                 2
ville-mpg                 0
autoroutempg             0
prix                      4
dtype: int64

In [181]:
df.isna().sum().sum()

58

In [182]:
round(df.isna().sum().sum() / df.size * 100, 1)

1.1

In [183]:
colonnes = df.columns[df.isna().any()]
df[colonnes]

    normalized-losses num-of-doors alÃ©sage course puissance crÃ¨me-rpm   prix
0                 NaN          two    3.47   2.68       111      5000  16500
1                 NaN          two    2.68   3.47       154      5000  16500
2                 164         four    3.19   3.40       102      5500  13950
3                 164         four    3.19   3.40       115      5500  17450
4                 NaN          two    3.19   3.40       110      5500  15250
..                ...          ...     ...    ...       ...       ...    ...
199                95         four    3.78   3.15       114      5400  16845
200                95         four    3.78   3.15       160      5300  19045
201                95         four    3.58   2.87       134      5500  21485
202                95         four    3.01   3.40       106      4800  22470
203                95         four    3.78   3.15       114      5400  22625

[204 rows x 7 columns]

In [184]:
df.dtypes.unique()

array([dtype('int64'), dtype('O'), dtype('float64')], dtype=object)

In [185]:
df.dtypes.value_counts()

object     16
int64       5
float64     5
Name: count, dtype: int64

In [201]:
df.dropna(inplace = True, thresh = round(len(df) * 0.85), axis = 1)

In [203]:
col_float = ["alÃ©sage", "course", "puissance", "crÃ¨me-rpm"]

In [205]:
df[col_float] = df[col_float].astype("float64")

In [206]:
df.dtypes

symboling                  int64
make                      object
fuel-type                 object
aspiration                object
num-of-doors              object
body-style                object
drive-wheels              object
emplacement du moteur     object
empattement              float64
longueur                 float64
largeur                  float64
hauteur                  float64
poids Ã  vide               int64
type de moteur            object
nombre de cylindres       object
taille du moteur           int64
systÃ¨me de carburant      object
alÃ©sage                  float64
course                   float64
taux de compression      float64
puissance                float64
crÃ¨me-rpm                float64
ville-mpg                  int64
autoroutempg              int64
prix                      object
dtype: object

In [216]:
df[col_float] = df[col_float].fillna(df[col_float].mean(axis = 1))

In [217]:
df.isna().sum()

symboling                0
make                     0
fuel-type                0
aspiration               0
num-of-doors             2
body-style               0
drive-wheels             0
emplacement du moteur    0
empattement              0
longueur                 0
largeur                  0
hauteur                  0
poids Ã  vide             0
type de moteur           0
nombre de cylindres      0
taille du moteur         0
systÃ¨me de carburant     0
alÃ©sage                  4
course                   4
taux de compression      0
puissance                2
crÃ¨me-rpm                2
ville-mpg                0
autoroutempg            0
prix                     4
dtype: int64